* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    /*Centramos el fondo al centro*/
    background-position: center;
    /*Y le decimos que siempre ocupe el ancho y el alto con esto*/
    background-size: cover;
}

.form-style {
    background: #fff;
    width: 400px;
    padding: 30px;
    margin: 40px auto auto;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
}

.form-style h2 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    color: #C62828;
}

.form-style label{
    font-size: 22px;
    margin-bottom: 15px;
}

.style1, input{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom:5px;
    font-size: 18px;
}

input:hover{
    background: #dbdbdb2c;
    border: #1f53c5 2px solid;
}

.form-style .boton {
    width: 100%;
    color: white;
    background: #1f53c5;
    padding: 12px;
    margin: 5px auto 2px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    border: none;
}

.boton:hover{
    background: white;
    color: #1f53c5;
    border: 2px groove #1f53c5;
}

.radio-group {
    text-align: center;
}

.radio-group label{ 
    font-size: 15px;
    padding: 3px 5px;
}

.radio-group label:hover{
    background: white;
    color: #1f53c5;
    border: 2px solid #1f53c5;
}

div.scroll {
    background-color: #dbdbdb2c;
    border: 1px;
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    margin-bottom: 15px;
}

input[type="radio"] {
    display: inline-block;
    margin-right: 10px;
}

label {
    display: inline-block;
    padding: 5px;
}